<div class="modal fade" id="deleteBlogEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete blog entry</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete blog entry
                <b class="d-inline" id="delete-blog-entry-title"></b>?
            </div>
            <div class="modal-footer">
                <button id="closeDeleteBlogEntryModal" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                @using (Html.BeginForm("Delete", "BlogEntry", FormMethod.Post))
                {
                    <input type="hidden" id="delete-blog-entry-blog-id" name="BlogId">
                    <input id="delete-blog-entry-id" type="hidden" name="Id">
                    <button type="submit" class="btn btn-primary">Delete blog entry</button>
                }
            </div>
        </div>
    </div>
</div>